# Gemini API Key (Server-side only)
GEMINI_API_KEY=

# Google Ads Integration
GOOGLE_ADS_CLIENT_ID=1019046039336-lg3uvsnefcdjoa1brtp9jf12tru410bg.apps.googleusercontent.com
APP_URL=http://localhost:3000

# Firebase Configuration (Optional if firebase-applet-config.json is used)
FIREBASE_API_KEY=

# AI Studio Build Config
DISABLE_HMR=true
